@model IEnumerable<UsersViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Felhasználók</h1>

<div class="row">

    @foreach (var vm in Model)
    {
        <div class="col-sm-3 p-4">
            <partial name="_EditUserRolesPartial" model="@vm"/>            
        </div>
    }

</div>
